<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

        <menuitem id="checkin_root_menu" name="Moibile Checkin" sequence="1"/>
        <menuitem id="checkin_submenu" name="CheckIn" parent="checkin_root_menu"
                  action="checkin_submenu_act" sequence="1"/>

    </data>
</odoo>